<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 mb-4">
            <div class="container-fluid">
                <div class="card" style="min-width:310px; overflow: auto">
                    <div class="card-header">Rentals</div>
                    <div class="card-body">
                        <div id="rentalTrend" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-4">
            <div class="container-fluid">
                <div class="card" style="min-width:310px; overflow: auto">
                    <div class="card-header">Vehicles</div>
                    <div class="card-body">
                        <div id="vehiclesChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
