
@{
    ViewBag.Title = "Home";
}

<div class="">

    @Html.Partial("_Dashboard")

    @Html.Partial("_Charts")


</div>

@section scripts
{
    @Scripts.Render("~/Scripts/ThisProject/Dashboard/RentalsTrend.js")
    @Scripts.Render("~/Scripts/ThisProject/Dashboard/VehiclesBarChart.js")
}