@model GetSetGo.ViewModels.VehicleFormViewModel
@{
    ViewBag.Title = "Vehicles";
}

<div class="d-flex bd-highlight mb-3 align-items-center">
    <div class="p-2 bd-highlight">
        <h2 class="align-middle">
            <i class="fas fa-car"></i>
            Vehicles
        </h2>
    </div>
    <div class="ml-auto p-2 bd-highlight">
        <button id="show-available" class="btn float-right js-active">Show Available</button>
    </div>
</div>

<table id="vehicles" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Plate Number</th>
            <th>Color</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/ThisProject/Vehicles/ReadOnlyList.js")
}

